*
:root
{
    --barro:#f09935;
    --pastel:#fff0dfe5;
    --chocolate:#562f0e;
    --verde:#0d6234;
    --cerde-seco:#4f9169;
    --creme:#faf6f1;
    --bege:hsl(30, 46%, 91%);
    --castanho:#7b5a50;
    --branco:#ffffff;
    --amarelo:#fff64f;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background:#1f1611;
    color:white;
    font-family:'Inter',sans-serif;
}

h1
{
    font-family:'Cormorant Garamond',serif;
    font-size:4.2rem;
    font-weight:600;
    line-height:normal; 
    text-align: center;
    margin-bottom: 25px;
    color:#fbeede;
}

h5
{
    font-family:'Cormorant Garamond',serif;
    font-size:3rem;
    font-weight:600;
    line-height:normal; 
    text-align: center;
    padding:3px ;
    margin-bottom: 25px;
    color:#562f0e;
}

.hero
{
    position:relative;
    min-height:100vh;
    overflow:hidden;
}

.hero-bg-home
{
    position:absolute;
    inset:0;
    background-image:url("assets/mapa-hero.png");
    background-size:cover;
    background-position:center;
    transform:scale(1.02);
}

.hero-overlay
{
    position:absolute;
    inset:0;
    background:
    linear-gradient(
        90deg,
        rgba(24,14,8,.40) 0%,
        rgba(24,14,8,.15) 35%,
        rgba(24,14,8,.75) 100%
    );
}

.header
{
    position:relative;
    z-index:10;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:35px 70px;
}

.footer
{
    position:relative;
    color: chocolate;
    font-size: small;
    z-index: 10;
    text-align: center;
    padding: 40px 20px;
}

.logo
{
    display:flex;
    align-items:center;
    gap:16px;
}

.logo-symbol
{
    font: size 10px;
}

.logo-title
{
    font-size:1.4rem;
    font-weight:600;
    line-height: 1.2em;
}

.logo-subtitle
{
    font-size:.8rem;
    letter-spacing:3px;
    opacity:.8;
}

.menu
{
    display:flex;
    gap:40px;
}

.menu a
{
    text-decoration:none;
    color:white;
    font-weight:500;
}

.btn-outline
{
    color:white;
    text-decoration:none;
    border:1px solid rgba(255,255,255,.5);
    padding:14px 28px;
    border-radius:14px;
}

.hero-content
{
    position:relative;
    z-index:10;
    /* display:grid;
    grid-template-columns:1fr 420px;
    */
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items:center;
    min-height:70vh;
    padding:40px 70px;
    justify-content: flex-end;
}

.content-left
{
    max-width:700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.separator
{
    width:220px;
    height:2px;
    background:#c86a3b;
    margin:40px 0;
}

.subtitle
{
    font-family:'Cormorant Garamond',serif;
    font-size:2rem;
    font-style:italic;
    max-width:650px;
    margin-bottom:25px;
}

.regions
{
    letter-spacing:6px;
    text-transform:uppercase;
    margin-bottom:40px;
    opacity:.85;
}

.btn-primary
{
    display:inline-block;
    text-decoration:none;
    color:white;
    background:#c95f31;
    padding:18px 40px;
    border-radius:18px;
    font-weight:700;
    transition:.3s;
}

.btn-primary:hover
{
    transform:translateY(-2px);
}

.content-right
{
    display:flex;
    flex-direction:column;
    gap:25px;
}

/*falta terminar titulo da tabela 
--Carla-------*/

/*-------------------------
----REGISTO-----------
--------------------*/


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;    
}

body
{
    background:#366b4b;
    color:white;
    font-family:'Inter',sans-serif;
}

.container-registo
{

    max-width: 800px;
    margin: auto;
    background:rgb(207, 162, 117);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(196, 178, 156, 0.613);
}

.form-group
{
    margin-bottom: 15px;
}

label
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #562f0e;
}

input,textarea,select
{
    width: 100%;
    padding: 10px;
    border: 1px solid #21567e;
    border-radius: 6px;
}

textarea
{
    resize: vertical;
    min-height: 120px;
}

.required
{
    color: red;
}

button
{
    width: 100%;
    padding: 12px;
    border: none;
    background:#d66f3b;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover
{
    background: #f4c497;
}

.erro
{
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.sucesso
{
    margin-top: 15px;
    color: green;
    font-weight: bold;
    text-align: center;
}

/*------falta tratar do about -Carla---
-----*/
/*----------------------
---PAGINA ABOUT---
-------------------------*/

.about
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#1f1611;
    color:white;
    font-family:'Inter',sans-serif;
}

/*falta tornar responsivo e alinhar itens -Carla---
-----*/

/*----------------------
---MAPA PAGINA CATÁLOGO---
-------------------------*/
.catalogo-title 
{
    text-align: center;
    color:whitesmoke;
    margin-bottom: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: .9;
    z-index:60;
}

.island
{
    cursor: pointer;
    transition: all 0.2s ease;
}

.island:hover, .island.active 
{
     background: rgba(240, 153, 53, 0.3) !important;
     border-color: #f09935 !important;
    transform: scale(1.03);
}

.map-card li 
{
    cursor: pointer;
    transition: all 0.2s ease;
}

.map-card li:hover, .map-card li.active {
    background: rgba(240, 153, 53, 0.2);
    color: #f09935;
    padding-left: 15px;
}
    
.tooltip
{
    position: absolute;
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    display: none;
    z-index: 100;
    pointer-events: none;
}

.map-card
{
    backdrop-filter:blur(10px);
    background:rgba(0,0,0,.25);
    border:1px solid rgba(255,255,255,.15);
    border-radius:24px;
    padding:30px;
}

.map-card h3
{
    margin-bottom:20px;
}

.map-card ul
{
    list-style:none;
}

.map-card li
{
    padding:8px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
    cursor: pointer;
    transition: all 0.2s ease;
}

.map-card li:hover, .map-card li.active {
     background: rgba(240, 153, 53, 0.2);
    color: #f09935;
    padding-left: 15px;
}


.tooltip 
{
    position: absolute;
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    display: none;
    z-index: 100;
    pointer-events: none;
}

.islands
{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.island
{
    backdrop-filter:blur(10px);
    background:rgba(0,0,0,.25);
    border:1px solid rgba(255,255,255,.15);
    border-radius:20px;
    min-height:140px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.island:hover, .island.active
{
    background: rgba(240, 153, 53, 0.3) !important;
    border-color: #f09935 !important;
    transform: scale(1.03);
}
      
.features
{
    position:relative;
    z-index:10;
    max-width:1200px;
    margin:auto;
    margin-bottom:40px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:30px;
    backdrop-filter:blur(14px);
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.1);
    border-radius:24px;
}

.feature
{
    display:flex;
    align-items:center;
    gap:15px;
}

.feature span
{
    font-size:2rem;
}

.feature h4
{
    margin-bottom:5px;
}

.feature p
{
    opacity:.7;
}
    
       

/*-Responsividade do ecrã-*/

@media screen and (max-width:1100px)
{
    h1
    {
        font-size:5rem;
    }

    .hero-content
    {
        grid-template-columns:1fr;
    }

    .content-right
    {
        max-width:500px;
    }

    .features
    {
        grid-template-columns:repeat(2,1fr);
        margin:40px;
    }

    .menu
    {
        display:none;
    }
}

@media screen and (max-width:768px)
{
    .header
    {
        padding:25px;
    }

    .hero-content
    {
        padding:25px;
    }

    h1
    {
        font-size:3.8rem;
    }

    .subtitle
    {
        font-size:1.5rem;
    }

    .regions
    {
        font-size:.8rem;
        letter-spacing:2px;
    }

    .features
    {
        grid-template-columns:1fr;
        margin:20px;
    }

    .islands
    {
        grid-template-columns:1fr;
    }
}