
:root
{
    --barro:#f09935;
    --pastel:#fff0dfe5;
    --chocolate:#562f0e;
    --verde:#0d6234;
    --cerde-seco:#4f9169;
    --creme:#faf6f1;
    --bege:hsl(30, 46%, 91%);
    --castanho:#7b5a50;
    --branco:#ffffff;
    --amarelo:#fff64f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
     
    
    

}

body.body-home {
    background:#1f1611;
    color:white;
    font-family:'Inter',sans-serif;
    background-image: url("assets/mapa-hero.png");
    background-size: cover;
    background-position: center;
    z-index: 99;
    margin: 0;
    padding: 0;
   

}

.body-content
{
    position:relative;
    z-index:10;
    /* display:grid;
    grid-template-columns:1fr 420px;
    */
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items:center;
    min-height:70vh;
    padding:30px 50px;
    justify-content:flex-start;
    margin: top 0;;
    
}


h1 {
    font-family:'Cormorant Garamond',serif;
    font-size:3.2rem;
    font-weight:600;
    line-height:normal; 
    text-align: center;
    margin-bottom: 25px;
    color:#fbeede;
}

h5 {
    font-family:'Cormorant Garamond',serif;
    font-size:2rem;
    font-weight:600;
    line-height:normal; 
    text-align: center;
    padding:3px ;
    margin-bottom: 25px;
    color:#562f0e;
}

.hero {
    position:relative;
    z-index: 99;
    margin:0;
    padding:0;
}


.hero-bg-home {
    position:absolute;
    inset:0;
    background-image:url("assets/mapa-hero.png");
    background-size:cover;
    background-position:center;
    transform:scale(1.02);
    
}

.hero-overlay {
    position:absolute;
    inset:0;
    background:
    linear-gradient(
        90deg,
        rgba(24,14,8,.40) 0%,
        rgba(24,14,8,.15) 35%,
        rgba(24,14,8,.75) 100%
    );
}

.nav{
    display:flex;
    justify-content:space-between;
}
.nav-list{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav-list a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

.menu-btn{
    display:none;
    background:none;
    border:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}

.header
{
    position:relative;
    top:0;
    left:0;
    right:0;
    z-index:99;
    display:flex;
    justify-content:space-between;
    padding:35px 70px;
    
}

.header-secction{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 10px 0;
   
    z-index:10;
}

section
{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 100%;  
    
}

.logo
{
    display:flex;
    align-items:center;
    gap: 10px;
    overflow:hidden;
   
    
}

.logo-symbol
{
    font: size 5px;
    overflow:hidden;
   
    
}

.logo-title
{
    font: size 1.3rem;
    font-weight:600;
    line-height: 1.2em;
    overflow:hidden;
    
}

.logo-subtitle
{
    font-size:.7rem;
    letter-spacing:3px;
    opacity:.8;
    overflow:hidden;
}

.header-menu
{
    display:flex;
    gap:40px;
}

.header-menu a
{
    text-decoration:none;
    color:white;
    font-weight:500;
}

.btn-outline
{
    color:white;
    text-decoration:none;
    border:1px solid rgba(255,255,255,.5);
    padding:14px 28px;
    border-radius:14px;
}



.content-left
{
    max-width:600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.separator
{
    width:220px;
    height:2px;
    background:#c86a3b;
    margin:10px 3px;
}

.subtitle
{
    font-family:'Cormorant Garamond',serif;
    font-size:2rem;
    font-style:italic;
    max-width:650px;
    margin-bottom:25px;
}

.regions
{
    letter-spacing:6px;
    text-transform:uppercase;
    margin-bottom:40px;
    opacity:.85;
}

.btn-primary
{
    display:inline-block;
    text-decoration:none;
    color:white;
    background:#c95f31;
    padding:18px 40px;
    border-radius:18px;
    font-weight:700;
    transition:.3s;
}

.btn-primary:hover
{
    transform:translateY(-2px);
}

.content-right
{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.footer
{
    position:relative;
    color: rgb(244, 151, 84);
    font-size:0.9rem;
    z-index: 10;
    text-align: center;
    padding:15px 5px;
   
}


/*-------------------------
----REGISTO-----------
--------------------*/


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;    
}

body
{
    background:#366b4b;
    color:white;
    font-family:'Inter',sans-serif;
    height: 100vh;
}

.container-registo
{
    margin: 40px auto; 
    max-width: 800px;
    background:rgb(207, 162, 117);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(196, 178, 156, 0.613);
}


/* Grupos do Formulário */
/* Garante que todos os blocos ocupam a largura total do contentor */
.form-group {
    margin-bottom: 15px;
    width: 100%; 
    display: block;
}




/* Elementos de Entrada */
input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none; /* Remove o contorno padrão do navegador */
}

/* Alinha o tamanho do campo URL da Imagem com os outros inputs */
input[type="url"],
input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: block; /* Evita variações de inline-block */
}



/* Área de Texto */
textarea {
    resize: vertical;
    min-height: 120px;
}

/* Asterisco de Obrigatório */
.required {
    color: red;
}

/* Botão Principal */
/* Garante que o botão tem exatamente o mesmo comportamento de largura */
button {
    width: 100% !important; /* O !important garante que nenhuma outra regra antiga interfira */
    padding: 12px;
    border: none;
    background: #7b5a50;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    display: block; /* Alinha perfeitamente com os inputs acima */
    margin-top: 20px; /* Dá um pequeno espaço extra respirar após o último campo */
    transition: background 0.3s ease;
    box-sizing: border-box; /* Inclui o padding na largura total para não esticar para fora */
}   



.form-group
{
    margin-bottom: 15px;
}

label
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #562f0e;
}

input,textarea,select
{
    width: 100%;
    padding: 10px;
    border: 1px solid #21567e;
    border-radius: 6px;
}

textarea
{
    resize: vertical;
    min-height: 120px;
}

.required
{
    color: red;
}

button
{
    width: 100%;
    padding: 12px;
    border: none;
    background:#d66f3b;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover
{
    background: #f4c497;
}

.erro
{
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.sucesso
{
    margin-top: 15px;
    color: green;
    font-weight: bold;
    text-align: center;
}


/*------falta tratar do about -Carla---
-----*/
/*----------------------
---PAGINA ABOUT---
-------------------------*/

.about
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#1f1611;
    color:white;
    font-family:'Inter',sans-serif;
}

.about-container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.about-container h5
{
    font-family:'Cormorant Garamond',serif;
    font-size:2.7rem;
    font-weight:600;
    line-height:normal; 
    text-align: center;
    padding:3px ;
    margin-bottom: 25px;
    color:#562f0e;
}

.about-container p.subtitle
{
    font-family:'Cormorant Garamond',serif;
    font-size:1.5rem;
    font-style:italic;
    max-width:650px;
    margin-bottom:25px;
    text-align: center;
}

.about-container p
{
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.about.grid-sections {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.card {
    background: var(--white);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.list-unstyled li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 25px;
}

.list-unstyled li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: var(--primary-color);
    font-weight: bold;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.team-member {
    background: var(--white);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
}

.team-member .role {
    font-size: 0.9rem;
    color: #777;
    display: block;
    margin-top: 5px;
}

/*falta tornar responsivo e alinhar itens -Carla---
-----*/

/*----------------------
---MAPA PAGINA CATÁLOGO---
-------------------------*/
.catalogo-title 
{
    text-align: center;
    color:whitesmoke;
    margin-bottom: 25px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: .9;
    z-index:60;
}

.island
{
    cursor: pointer;
    transition: all 0.2s ease;
}

.island:hover, .island.active 
{
     background: rgba(240, 153, 53, 0.3) !important;
     border-color: #f09935 !important;
    transform: scale(1.03);
}

.map-card li 
{
    cursor: pointer;
    transition: all 0.2s ease;
}

.map-card li:hover, .map-card li.active {
    background: rgba(240, 153, 53, 0.2);
    color: #f09935;
    padding-left: 15px;
}
    
.tooltip
{
    position: absolute;
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    display: none;
    z-index: 100;
    pointer-events: none;
}

.map-card
{
    backdrop-filter:blur(10px);
    background:rgba(0,0,0,.25);
    border:1px solid rgba(255,255,255,.15);
    border-radius:24px;
    padding:30px;
    margin:20px;
}

.map-card h3
{
    margin-bottom:20px;
    padding-bottom:20px;
}

.map-card ul
{
    list-style:none;
}

.map-card li
{
    padding:8px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
    cursor: pointer;
    transition: all 0.2s ease;
}

.map-card li:hover, .map-card li.active {
     background: rgba(240, 153, 53, 0.2);
    color: #f09935;
    padding-left: 15px;
}


.tooltip 
{
    position: absolute;
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    display: none;
    z-index: 100;
    pointer-events: none;
}

.islands
{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.island
{
    backdrop-filter:blur(10px);
    background:rgba(0,0,0,.25);
    border:1px solid rgba(255,255,255,.15);
    border-radius:20px;
    min-height:140px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.island:hover, .island.active
{
    background: rgba(240, 153, 53, 0.3) !important;
    border-color: #f09935 !important;
    transform: scale(1.03);
}
      
.features
{
    position:relative;
    z-index:10;
    max-width:1200px;
    margin:auto;
    margin-bottom:40px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:30px;
    backdrop-filter:blur(14px);
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.1);
    border-radius:24px;
}

.feature
{
    display:flex;
    align-items:center;
    gap:15px;
}

.feature span
{
    font-size:2rem;
}

.feature h4
{
    margin-bottom:5px;
}

.feature p
{
    opacity:.7;
}
    
       

/*-Responsividade do ecrã-*/

@media screen and (max-width:1100px)
{
    h1
    {
        font-size:5rem;
    }

    .hero-content
    {
        grid-template-columns:1fr;
    }

    .content-right
    {
        max-width:500px;
    }

    .features
    {
        grid-template-columns:repeat(2,1fr);
        margin:40px;
    }

    .menu
    {
        display:none;
    }

    button.menu-btn{
    display:none;
    }
    
}


/* ==========================================================================
   Media Queries - Responsividade
   ========================================================================== */

/* Tablets e Ecrãs Médios (Abaixo de 768px) */
@media (max-width: 768px) {
    

    .hero-content
    {
        padding:25px;
    }

    h1
    {
        font-size:3.8rem;
    }

    .subtitle
    {
        font-size:1.5rem;
    }

    .regions
    {
        font-size:.8rem;
        letter-spacing:2px;
    }

    .features
    {
        grid-template-columns:1fr;
        margin:20px;
    }

    .islands
    {
        grid-template-columns:1fr;
    }

    .header {
        flex-direction: column; /* Coloca o menu abaixo do logótipo */
        gap: 20px;
        padding: 20px;
        text-align: center;
        
        
    }

    .logo {
        flex-direction: column; /* Centraliza a imagem e o texto do logo */
        gap: 10px;
    }

    .logo-title, .logo-subtitle {
        text-align: center;
    }

    .container-registo {
        margin: 30px 20px; /* Reduz a margem lateral para aproveitar o ecrã */
        padding: 20px;     /* Reduz o espaçamento interno */
    }
    .container {
        margin: 20px 15px; /* Reduz a margem lateral para aproveitar o ecrã */
        padding: 20px;     /* Reduz o espaçamento interno */
    }


    .grid-sections {
        grid-template-columns: 1fr 1fr;
    }
    .full-width {
        grid-column: span 2;
    }
 
     .menu-btn{
        display:block;
        position:absolute;
        top:30px;
        right:25px;
        z-index:1001;
        width:auto;
        padding:0;
    }

     .nav-list{
        position:fixed;
        top:0;
        right:-280px;
        width:260px;
        height:100vh;

        background:#562f0e;

        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;

        gap:35px;

        transition:.35s;
    }

    .nav-list.active{
        right:0;
    }

}




@media screen and (max-width:520px) {

 .menu-btn {
        
        display: block; /* Mostra o botão de menu */
    }

    
.nav-list {
    flex-direction: column;
    position: absolute;
    top:0;
    right: -900px;
    width: 80%;
    height: 100vh;
    padding-top: 80px;
    transition: all 0.3s ease;
    list-style: none;
    background: rgba(199, 134, 78, 0.9);
    }

.nav-list.active {
    right: 0;
    

}

.h1
{
    font-size:1rem;


}
}
/* Telemóveis (Abaixo de 480px) */
@media (max-width: 480px) {
    .menu {
        flex-wrap: wrap;       /* Permite que os links quebrem em duas linhas se necessário */
        justify-content: center;
        gap: 15px;
    }

    .menu a {
        font-size: 14px;       /* Ajusta ligeiramente o tamanho da letra */
    }

    h1 {
        font-size: 20px;       /* Diminui o título principal para não quebrar mal */
        margin-bottom: 15px;
    }

    
    .container-registo {
       
        padding: 15px;     /* Reduz o espaçamento interno */
    }
    .container {
        padding: 15px;         /* Ganha ainda mais espaço útil para os inputs */
    }

    button {
        padding: 14px;         /* Aumenta o botão para ser mais fácil de carregar com o polegar */
        font-size: 15px;
    }
}


/* FIM REGISTO */






/* ATENÇÃO: DEIXAR NO FIM DO FICHEIRO PARA SE APLICAR A TODAS AS PAGINAS EXCETO O INDEX.HTML */

/* Modificações exclusivas para páginas SECUNDÁRIAS (além do index.html) */
.hero.hero-interna {
    min-height: auto; /* Remove o tamanho de ecrã inteiro */
    padding-bottom: 15px; /* Dá um pequeno espaço abaixo do menu */
}

/* Garante que o fundo se adapta à nova altura da página de registo */
.hero-interna .hero-bg {
    position: absolute;
    inset: 0;
    background-image: url("assets/mapa-hero.png");
    background-size: cover;
    background-position: center;
}


